@model KhaiBaoYTe.Models.Template

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Details</h2>
    <h4>Template</h4>
</div>
<hr />

<div class="row justify-content-md-around">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-6">
                Tên chủ đề
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.ChuDe.TenChuDe)
            </dd>
            <dt class="col-6">
                Tên template
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.TenTemplate)
            </dd>
            <dt class="col-6">
                Mô tả
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.MoTa)
            </dd>
            <dt class="col-6">
                Ngày tạo
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.NgayTao)
            </dd>
            <dt class="col-6">
                Người tạo
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.NguoiTao)
            </dd>
            <dt class="col-6">
                Ngày cập nhật
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.NgayUpdate)
            </dd>
            <dt class="col-6">
                Người cập nhật
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.NguoiUpdate)
            </dd>
            <dt class="col-6">
                Số câu hỏi hiển thị/trang
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.HienThi)
            </dd>
        </dl>
    </div>
</div>
<div class="text-center mt-md-4">
    <a href="@Url.Action("Index", "Template")" class="btn btn-default">
        Back to Template
    </a>
</div>
