@model KhaiBaoYTe.Models.Template

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTemplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTemplate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuDe.TenChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDe.TenChuDe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { foreign_id=Model.IDChuDe, id = Model.IDTemplate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
